header {
    background-color: rgba(133, 205, 50, 0.589);
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 35px;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
    font-size: 25px;
    margin-left: 1%;
}
.boxControl {
    width: 20%;
    margin-left: -50px;
    
    margin-top: 0%;
}
.card-body {
    padding-left: 0%;
}
.btn-primary {
    margin-left: -50px;
    width: 20%;
}
.btn-secondary {
    margin-left: -50px;
    width: 20%;
} 
.colcontainer {
    border: 2px solid rebeccapurple;
    background-color: lavenderblush;
    margin-top: -300px;
    margin-left: 300px;
    width: 600px;
    height: 280px;
}
.row {
    margin-top: 80px;
}
.element {
    float: left;
}
h5 {
    padding: 10px;
}
.listGroup {
    margin-top: -220px;
    margin-inline-start: -3%;
}
.list-group-item {
    margin-left: 15px;
    width: 265px;
    height: 50px
   
}
