header {
    background-color: rgb(128,0,128);
    color: ghostwhite;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 35px;
    font-family: cursive;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
    font-size: 25px;
    margin-left: 1%;
}
.boxControl {
    width: 18%;
    margin-left: -50px;
    margin-top: 0%;
}

.col {
    margin-left: 155px;
    margin-top: -60px;
}
.card-body {
    padding-left: 0%;
    background-color: rgb(0,46,46);
    border: 5px solid rgb(128,0,128);
    font-size: -20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    
}
.btn-primary {
    margin-left: -50px;
    width: 18%;
    background-color: rgb(0,0,87);
    border: 5px solid rgb(128,0,128);
}
.btn-secondary {
    margin-left: -50px;
    width: 20%;
} 
.colcontainer {
    border: 5px solid rgb(128,0,128);;
    background-color: white;
    /* color: ghostwhite ; */
    margin-top: -300px;
    margin-left: 180px;
    width: 990px;
    height: 360px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    
}

.week {
    margin-top: 50px; 
    margin-left: 170px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
}

.row {
    margin-top: 80px;

}
.element {
    float: left;
}

#image {
    display: inline;
}
h5 {
    padding: 10px;
}
.listGroup {
    margin-top: -220px;
    margin-inline-start: -3%;
}
.list-group-item {
    margin-left: 15px;
    width: 265px;
    height: 50px
   
}
